@model raw_wedding.Models.Login
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto">
                <h2 class="alert alert-secondary d-inline-block">Login to Get Married</h2>
                <form action="loginUser" method="post">
                    <div class="form-group">
                        <label asp-for="Email">Email:</label>
                        <span asp-validation-for="Email"></span>
                        @if(ViewBag.noUser != null)
                        {
                            <span>@ViewBag.noUser</span>
                        }
                        <input type="text" asp-for="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password:</label>
                        <span asp-validation-for="Password"></span>
                        @if(ViewBag.error != null)
                        {
                            <span>@ViewBag.error</span>
                        }
                        <input type="text" asp-for="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>